// no front matter in SCSS
.page__content {
  font-size: 18px !important;
  line-height: 2 !important;
  // max-width: 700px;
  margin: 0 auto;
}

.author__avatar {
  width: 70% !important;
  height: auto !important;

  a {
    display: block;
    width: 100% !important;
    height: 100% !important;
  }

  img {
    width: 100% !important;
    height: auto !important;
    border-radius: 50%;
    display: block;
  }
}

.author__avatar img {
  width: 100% !important;
  height: auto !important;
  max-width: none !important;
  border-radius: 50%;
  display: block;
}